*,*:before,*:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    color: #fff;
}

h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    font-weight: 300;
}

body {
    font-family: 'Titillium Web', sans-serif;
    min-width: 750px;
}

a {
    text-decoration: none;
}

li{
    list-style: none;
}

.wrapper {
    overflow: hidden;
    text-align: center;
}

.container {
    width: 100%;
    height: 100vh;
    padding: 100px;
}