.first-page {
    background-color: #87509c;
}

.first-page__header-link {
    list-style: none;
    font-size: 20px;
    line-height: 20px;
    padding: 16px 16px;
    border-radius: 4px;
    margin-right: 10px;
    text-transform: uppercase;
}

.first-page__header-link:last-child {
    margin-right: 0px;
}

.first-page__header-link:hover {
    background-color: #643a79;
}

.first-page__content {
    width: 100%;
    height: 100%;
    font-size: 50px;
}

.first-page__content-text {
    font-weight: 700;
    margin-bottom: 50px;
}

.first-page__content-button {
    font-size: 20px;
    cursor: pointer;
    padding: 26px 70px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #eb7d4b;
    border: 6px solid #eb7d4b;
    border-bottom: 6px solid #c86a40;
    border-radius: 6px;
}

.first-page__content-button:hover {
    background-color: #df7443;
}

.second-page {
    background-color: #17c2a4;
}

.second-page__header-text {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
}

.second-page__header-line {
    border-bottom: 6px solid #14a58b;
    width: 100px;
    margin-bottom: 20px;
}

.second-page__header-underline-text {
    font-weight: 300;
    font-size: 26px;
}

.second-page__items {
    max-width: 250px;
    height: 100%;
}

.second-page__item-icon {
    height: 160px;
    object-fit: contain;
}

.second-page__item-title {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
}

.second-page__item-undertitle-text {
    font-size: 20px;
    font-weight: 300;
    line-height: 2;
}

.second-page__wrapper{
    height: 100%;
}